<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEADS</title>

    <!-- ICONOS & FUENTES -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- ICONO Y ESTILOS PERSONALIZADOS -->
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body>
    <div class="app-container">
        <!-- Menú lateral -->
        <div th:replace="~{fragments/navbar :: sidebar}"></div>

        <!-- Botón para toggle del menú -->
        <div th:replace="~{fragments/navbar :: menuToggle}"></div>


        <!-- CONTENIDO PRINCIPAL -->
        <div class="main-content">
            <div class="container">
                <main class="grid-item content">
                    <div class="main-conteiner">
                        <div class="first-item-main">
                            <h1 class="title-main">Leads</h1>
                            <div class="btn-content">
                                <button type="button" class="btn btn-primary btn-create-leads" id="openModalBtn">+
                                    Agregar
                                    Leads</button>
                            </div>
                        </div>
                    </div>
                    <!-- Tabla de contenidos -->
                    <div class="second-item-main">
                        <table class="table">
                            <thead class="table-header">
                                <tr>
                                    <th class="column-item data-table">Numero</th>
                                    <th class="column-item data-table">Fecha contacto</th>
                                    <th class="column-item data-table">Estado</th>
                                    <th class="column-item data-table">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr th:each="lead : ${listaLeads}">
                                    <td th:text="${lead.celular}"></td>
                                    <td th:text="${lead.fecha}"></td>
                                    <td th:text="${lead.estado}"></td>
                                    <td class="data-table">
                                        <div class="buttons-container">
                                            <button class="btn-actions btn-edit" th:data-user-dni="${usuario.dni}"
                                                th:data-user-nombres="${usuario.nombres}"
                                                th:data-user-apellidos="${usuario.apellidos}"
                                                th:data-user-genero="${usuario.genero}"
                                                th:data-user-role-id="${usuario.authorityId}"
                                                onclick="openEditModal(this)">

                                                <i class="bi bi-pencil-square"></i> Asignar
                                                </button>
                                                <button class="btn-actions btn-delete" th:data-user-id="${lead.id}"
                                                    th:data-user-name="${usuario.nombres + ' ' + usuario.apellidos}"
                                                    onclick="openDeleteModal(this.getAttribute('data-user-id'), this.getAttribute('data-user-name'))">
                                                    <i class="bi bi-trash"></i> Eliminar
                                                </button>
                                            </div>
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Modal para importar Excel -->
        <div class="modal" id="importModal" style="display:none; position: fixed; top: 0; left: 0;
        width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999; justify-content: center; align-items: center;">
            <div style="background-color: white; padding: 20px; border-radius: 10px; width: 400px;">
                <h3>Importar Leads desde Excel</h3>
                <form th:action="@{/user/importar/excel}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xlsx" required class="form-control mb-3">
                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="btn btn-success">Subir</button>
                        <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="/js/asistenciaYsidebar.js"></script>
    <script>
            const modal = document.getElementById("importModal");
            const openModalBtn = document.getElementById("openModalBtn");

            openModalBtn.addEventListener("click", () => {
            modal.style.display = "flex";
        });

            function cerrarModal() {
            modal.style.display = "none";
        }
    </script>
</body>

</html>